[submodule "vimplugins/vim-fugitive"]
	path = vimplugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimplugins/ultisnips"]
	path = vimplugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimplugins/vim-commentary"]
	path = vimplugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimplugins/vim-repeat"]
	path = vimplugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimplugins/vim-arduino"]
	path = vimplugins/vim-arduino
	url = https://github.com/stevearc/vim-arduino.git
[submodule "vimplugins/vim-misc"]
	path = vimplugins/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vimplugins/vim-session"]
	path = vimplugins/vim-session
	url = https://github.com/romgrk/vim-session.git
[submodule "parseargs"]
	path = parseargs
	url = https://github.com/stevearc/parseargs.git
[submodule "vimplugins/vim-polyglot"]
	path = vimplugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vimplugins/closetag"]
	path = vimplugins/closetag
	url = https://github.com/docunext/closetag.vim
[submodule "vimplugins/vim-eunuch"]
	path = vimplugins/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vimplugins/vim-surround"]
	path = vimplugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimplugins/editorconfig-vim"]
	path = vimplugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimplugins/vim-endwise"]
	path = vimplugins/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vimplugins/vim-autoswap"]
	path = vimplugins/vim-autoswap
	url = https://github.com/gioele/vim-autoswap.git
[submodule "vimplugins/defx.nvim"]
	path = vimplugins/defx.nvim
	url = https://github.com/Shougo/defx.nvim.git
[submodule "vimplugins/nvim-colorizer.lua"]
	path = vimplugins/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
	ignore = untracked
[submodule "vimplugins/aerial.nvim"]
	path = vimplugins/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim.git
[submodule "vimplugins/targets.vim"]
	path = vimplugins/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vimplugins/quickfix-reflector.vim"]
	path = vimplugins/quickfix-reflector.vim
	url = https://github.com/stefandtw/quickfix-reflector.vim.git
[submodule "vimplugins/nvim-lspconfig"]
	path = vimplugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
	ignore = untracked
[submodule "vimplugins/flow-coverage.nvim"]
	path = vimplugins/flow-coverage.nvim
	url = https://github.com/stevearc/flow-coverage.nvim.git
[submodule "vimplugins/nvim-treesitter"]
	path = vimplugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vimplugins/nvim-treesitter-context"]
	path = vimplugins/nvim-treesitter-context
	url = https://github.com/romgrk/nvim-treesitter-context.git
[submodule "vimplugins/telescope.nvim"]
	path = vimplugins/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "vimplugins/plenary.nvim"]
	path = vimplugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vimplugins/popup.nvim"]
	path = vimplugins/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "vimplugins/vim-vsnip"]
	path = vimplugins/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "vimplugins/vim-vsnip-integ"]
	path = vimplugins/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "vimplugins/vim-vsnip-snippets"]
	path = vimplugins/vim-vsnip-snippets
	url = https://github.com/stevearc/vim-vsnip-snippets.git
[submodule "vimplugins/startuptime"]
	path = vimplugins/startuptime
	url = https://github.com/tweekmonster/startuptime.vim.git
[submodule "vimplugins/scnvim"]
	path = vimplugins/scnvim
	url = https://github.com/stevearc/scnvim.git
[submodule "vimplugins/nvim-compe"]
	path = vimplugins/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
	ignore = untracked
[submodule "vimplugins/lsp_signature.nvim"]
	path = vimplugins/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim.git
[submodule "vimplugins/nvim-web-devicons"]
	path = vimplugins/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "vimplugins/lualine.nvim"]
	path = vimplugins/lualine.nvim
	url = https://github.com/shadmansaleh/lualine.nvim.git
[submodule "vimplugins/defx-icons"]
	path = vimplugins/defx-icons
	url = https://github.com/kristijanhusak/defx-icons.git
	ignore = untracked
[submodule "vimplugins/barbar.nvim"]
	path = vimplugins/barbar.nvim
	url = https://github.com/stevearc/barbar.nvim.git
	ignore = untracked
[submodule "vimplugins/vim-dadbod"]
	path = vimplugins/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "vimplugins/vim-dadbod-ui"]
	path = vimplugins/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui.git
	ignore = untracked
[submodule "vimplugins/qf_helper.nvim"]
	path = vimplugins/qf_helper.nvim
	url = https://github.com/stevearc/qf_helper.nvim.git
[submodule "vimplugins/tabular"]
	path = vimplugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimplugins/tokyonight.nvim"]
	path = vimplugins/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "vimplugins/lightspeed.nvim"]
	path = vimplugins/lightspeed.nvim
	url = https://github.com/ggandor/lightspeed.nvim.git
	ignore = untracked
[submodule "vimplugins/nvim-toggleterm.lua"]
	path = vimplugins/nvim-toggleterm.lua
	url = https://github.com/akinsho/nvim-toggleterm.lua.git
[submodule "vimplugins/playground"]
	path = vimplugins/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "vimplugins/stickybuf.nvim"]
	path = vimplugins/stickybuf.nvim
	url = https://github.com/stevearc/stickybuf.nvim.git
[submodule "vimplugins/neogit"]
	path = vimplugins/neogit
	url = https://github.com/TimUntersberger/neogit.git
[submodule "vimplugins/suda.vim"]
	path = vimplugins/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "vimplugins/gkeep.nvim"]
	path = vimplugins/gkeep.nvim
	url = https://github.com/stevearc/gkeep.nvim.git
[submodule "vimplugins/neorg"]
	path = vimplugins/neorg
	url = https://github.com/vhyrro/neorg.git
[submodule "vimplugins/nvim-ts-context-commentstring"]
	path = vimplugins/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring.git
[submodule "vimplugins/vim-matchup"]
	path = vimplugins/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "vimplugins/nvim-treesitter-textsubjects"]
	path = vimplugins/nvim-treesitter-textsubjects
	url = https://github.com/RRethy/nvim-treesitter-textsubjects.git
[submodule "vimplugins/null-ls.nvim"]
	path = vimplugins/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
