[submodule "roles/common/files/.vim/bundle/command-t"]
	path = roles/common/files/.vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "roles/common/files/.vim/bundle/python-mode"]
	path = roles/common/files/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "roles/common/files/.vim/bundle/syntastic"]
	path = roles/common/files/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "roles/common/files/.vim/bundle/vim-colors-solarized"]
	path = roles/common/files/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "roles/common/files/.vim/bundle/vim-fugitive"]
	path = roles/common/files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "roles/common/files/.vim/bundle/ultisnips"]
	path = roles/common/files/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "roles/common/files/.vim/bundle/vim-commentary"]
	path = roles/common/files/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "roles/common/files/.vim/bundle/vim-repeat"]
	path = roles/common/files/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
