[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-arduino"]
	path = .vim/bundle/vim-arduino
	url = https://github.com/stevearc/vim-arduino.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "parseargs"]
	path = parseargs
	url = https://github.com/stevearc/parseargs.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/neoformat"]
	path = .vim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/vim-flow-plus"]
	path = .vim/bundle/vim-flow-plus
	url = https://github.com/stevearc/vim-flow-plus.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/omnisharp-vim"]
	path = .vim/bundle/omnisharp-vim
	url = https://github.com/stevearc/omnisharp-vim
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/deoplete.nvim"]
	path = .vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/bundle/LanguageClient-neovim"]
	path = .vim/bundle/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule ".vim/bundle/deoplete-jedi"]
	path = .vim/bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/bundle/vim-hug-neovim-rpc"]
	path = .vim/bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".vim/bundle/nvim-yarp"]
	path = .vim/bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".vim/bundle/nvim-lsp"]
	path = .vim/bundle/nvim-lsp
	url = https://github.com/neovim/nvim-lsp.git
[submodule ".vim/bundle/deoplete-lsp"]
	path = .vim/bundle/deoplete-lsp
	url = https://github.com/Shougo/deoplete-lsp.git
[submodule ".vim/bundle/space-vim-theme"]
	path = .vim/bundle/space-vim-theme
	url = https://github.com/liuchengxu/space-vim-theme.git
