[user]
    name = Steven Arcangeli
    email = stevearc@stevearc.com
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    cob = checkout -b
    com = checkout master
    cp = cherry-pick
    des = describe --tags
    di = diff
    dc = diff --cached
    dm = !git diff `git merge-base HEAD origin/master` HEAD
    ab = rebase --abort
    abort = rebase --abort
    rco = rebase --continue
    mb = merge-base
    ri = !git rebase -Xpatience -i `git merge-base HEAD origin/master`
    amend = commit --amend
    am = commit --amend
    ama = commit --amend -a --reuse-message=HEAD
    aa = add --all
    head = !git l -1
    h = !git head
    hist = log --
    ff = merge --ff-only
    pullff = pull --ff-only
    pr = pull --rebase
    noff = merge --no-ff
    div = divergence
    f = fetch -p
    fa = fetch --all
    pom = push origin master
    b = branch
    ba = branch -a
    ds = diff --stat=160,120
    dh1 = diff HEAD~1
    s = submodule
    su = submodule update --init --recursive
    sclean = !git submodule update --init --recursive && git submodule foreach --recursive 'git reset --hard' && git submodule foreach --recursive 'git clean -fd'
    rp = rev-parse --verify
    delmerged = !git branch --merged | grep -v master | grep -v develop | xargs git branch -d
    rom = rebase -Xpatience origin/master
    ss = show --stat
    res = !vim -p `git status --porcelain | grep "^UU " | cut -d ' ' -f 2`
    wip = commit --no-verify -m WIP
    undo = reset HEAD^
    po = !bash ~/.githelpers push_current_branch
    pof = !bash ~/.githelpers push_current_branch --force
    dopr = !bash ~/.githelpers create_pull_request
    popr = !git po && sleep 1 && git dopr
    findpr = !bash ~/.githelpers find_pull_request
    fix = !bash ~/.githelpers commit_fix
    uu = !bash ~/.githelpers update_master
    l = !bash ~/.githelpers pretty_git_log
    r = !git l -20
    ra = !git r --all
    la = !git l --all
    patch = format-patch --stdout
    root = rev-parse --show-toplevel
    sm = !bash ~/.githelpers show_modified_files


[merge]
    tool = vimdiff
[diff]
	algorithm = patience
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	proxy = fwdproxy:8080
