set show-mode-in-prompt on
set vi-ins-mode-string "+"
set vi-cmd-mode-string ":"
set editing-mode vi

$if mode=vi

set keymap vi-command
Control-l: clear-screen
Control-p: previous-history
Control-n: next-history

set keymap vi-insert
Control-l: clear-screen
Control-p: previous-history
Control-n: next-history
Control-a: beginning-of-line
Control-e: end-of-line
Control-f: forward-char
Control-b: backward-char
Meta-f: forward-word
Meta-f: backward-word

$endif
