[Desktop Entry]
Categories=;
Comment=Edit file in Vim
Exec=nvim %f
GenericName=Process Viewer
Hidden=false
Icon=vim
Name=Vim
Terminal=true
Type=Application
Version=1.0
