[Desktop Entry]
Terminal=false
Name=matray
Type=Application
Categories=Network;News;TrayIcon;
Exec=/usr/bin/matray --delay
Icon=matray
Comment=A Manjaro Linux announcements notification app
