snippet todo "Insert a TODO" !
TODO: (`echo $USER` `date +%Y-%m-%d`) $0
endsnippet

snippet fixme "Insert a FIXME" b!
FIXME: (`echo $USER` `date +%Y-%m-%d`) $0
endsnippet

snippet xxx "Insert a XXX" b!
XXX: (`echo $USER` `date +%Y-%m-%d`) $0
endsnippet

snippet '\.\.\.' "Ellipsis" !r
…
endsnippet

snippet '\.\.\.no' "Look of disapproval" !r
ಠ_ಠ
endsnippet

snippet 'o well' "Look of disapproval" !
¯\_(ツ)_/¯
endsnippet

# vim:ft=snippets:
