snippet short "int16_t" !w
int16_t
endsnippet

snippet ushort "uint16_t" !w
uint16_t
endsnippet

snippet long "int32_t" !w
int32_t
endsnippet

snippet ulong "uint32_t" !w
uint32_t
endsnippet

# vim:ft=snippets:
