snippet component "Composable child component"
var target

func _notification(p_what):
	match p_what:
		NOTIFICATION_PARENTED:
			target = get_parent()
		NOTIFICATION_UNPARENTED:
			target = null

endsnippet
