[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/stevearc/Desktop/steam.desktop]
row=7
col=0

[A280-FF99]
row=3
col=0

[BA08FC9108FC4DBF]
row=1
col=0

[345683CA56838AF6]
row=2
col=0

[741B-ACDB]
row=0
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/stevearc]
row=6
col=0

